<div id="main" class="container home" ng-show="isAuthenticated">

	<div class="alert alert-fy">
		<p>Mercado BTC</p>
	</div>

	<ul id="home-menu" class="nav">

    	<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleEmpresas">
				<i class="glyphicon glyphicon-record"></i> Principales Monedas
			</a>

			<div ng-if="!refresh" id="grid1" ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>

		</li>

	</ul>

  <footer>
  </footer>

</div>