<div class="modal-header" style="
    color: black;
">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body" style="
    color: black;
">
  <p>{{modalOptions.bodyText}}</p>
</div>
<div class="form-group">
  <div class="input-group">
      <span class="input-group-addon "><span class="glyphicon glyphicon-envelope"></span></span>
      <input ng-model="modalOptions.points" type="text" id="points" class="form-control" placeholder="0">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>
