<div id="main" class="container empresa" ng-show="isAuthenticated">

	<!-- Contenido principal -->
  <ul class="empresa-menu nav">
		<li style="
    color: white;
    font-size: 20px;
    text-align: center;
">
			 Vincular cuentas
		</li>
	</ul>

  <div class="row" ng-if="profile">
		<div class="col-md-12 empresa-top clearfix">
      <fieldset>
			  <div class="form-group">
            <div class="input-group">
                <button g-login class="btn btn-google-plus" ng-if="!has_social('google')"><i class="fa fa-google-plus"></i> | Connect with Google Plus</button>
            </div>
            <div class="input-group">
                <button fb-login class="btn btn-facebook" ng-if="!has_social('facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            </div>
        </div>
		  </fieldset>
    </div>
	</div>
	<!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
